.wrapper {
    width: 100%;
    margin: 0;
    padding-top: 30px;
}

.wrapper-title {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.container {
    display: flex;
    background-color: lightgrey;
    min-width: 800px;
    min-height: 250px;
    border: 2px solid black;
    border-radius: 5px;
}